<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <title>로그인 전 홈 화면</title>
</head>
<body>
    <header th:replace="fragments/header::header"></header>
    <div class="container">
        <div class="row" style="margin-left: 50px">
            <div class="col">
                <br><br><br>
                <div id="subTitle">
                    우리들의 여행기록
                </div><br>
                <div class="center">
                    <div id="title">
                        <div id="firstLine">
                            <span class="yellow">T</span>RAVEL
                        </div>
                        <div id="secondLine">
                            <span class="yellow">T</span>OGETHER
                        </div>
                    </div>
                </div>
            </div>
            <img
                class="col" id="mainImage"
                src="https://user-images.githubusercontent.com/75611167/180593950-41448030-8c24-42c4-a575-001262845b08.jpg"
            >
        </div>
        <br>
        <hr><br>
        <div style="text-align: center">
            <a href="/map">
                <button type="button" id="mapCreateButton">
                    <b>T.T 지도 만들기&nbsp&nbsp&nbsp&nbsp+</b>
                </button>
            </a>
        </div>
    </div>
</body>
</html>