<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div>
        <form id="form" th:object="${friend}">
            <div>
                <input type="text" th:field="*{id}" placeholder="회원명"/>
            </div>
            <button type="button" onclick="add()">검색</button>
        </form>
    </div>
    <hr>
    <table id="friendTable">
        <thead>
        <tr>
            <th>번호</th>
            <th>친구 이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="friend : ${friends}">
            <td th:text="${friendStat.index + 1}"></td>
            <td th:text="${friend}"></td>
        </tr>
        </tbody>
    </table>

</body>
<script>
    function add(){
        let param = {
            id:$("#id").val()
        };

        $.ajax({
            type:"POST",
            url:"/friend/api/add",
            data: JSON.stringify(param),
            contentType:"application/json; charset=utf-8",
        }).done(function(){
            alert("친구추가 성공");
            location.reload();
        }).fail(function(response){
            //실패로직을 fail 아닌 done 에서 관리 할 수 있도록 변경
            //fail 에서는 서버에서 처리 불가능한 에러만 관리 할 수 있도록 변경
            makingErrorField(response);
        });
    }

    const makingErrorField = function(response){
        const errorFields = response.responseJSON.errors;

        let $field, error;
        for(let i=0, length = errorFields.length; i<length;i++){
            error = errorFields[i];
            $field = $('#'+error['field']);

            if($field && $field.length > 0){
                $field.siblings('.error-message').remove();
                $field.after('<br><span class="error-message">'+error.defaultMessage+'</span>');
            }
        }
    };
</script>
</html>