<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>친구 추가</title>
</head>
<body>
    <header th:replace="fragments/header::afterHeader"></header>
    <div class="container container_width">
        <form id="form" th:object="${friend}">
            <div class="form-group" id="inputId">
                <input type="text" class="form-control" th:field="*{id}" placeholder="회원명"/>
            </div>
            <br>
            <button type="button" class="btn btn-primary" id="submitButton"onclick="add()">검색</button>
        </form>
        <hr>
        <table id="friendTable" class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>친구 이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="friend : ${friends}">
                <td th:text="${friendStat.index + 1}"></td>
                <td th:text="${friend}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    document.addEventListener("keypress", function(event) {
        if (event.key === "/") {
            event.preventDefault();
            $('#id').focus()
        }
    });
    document.getElementById("id").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            document.getElementById("submitButton").click();
        }
    });

    function add(){
        let param = {
            id:$("#id").val()
        };

        $.ajax({
            type:"POST",
            url:"/friend/api/add",
            data: JSON.stringify(param),
            contentType:"application/json; charset=utf-8",
        }).done(function(){
            alert("친구추가 성공");
            location.reload();
        }).fail(function(response){
            console.log(response.status + " " + response.responseText)
            makingErrorField(response);
        });
    }

    const makingErrorField = function(response){
        const errorFields = response.responseJSON.error;
        $( 'p.error-message' ).remove();
        $('#inputId').append('<p class="field-error">'+errorFields+'</p>')
    };
</script>
</html>