.map_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.map_wrap, .map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.bg_white {
    background: #fff;
}

#map {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#menu_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 250px;
    margin: 10px 0 30px 10px;
    padding: 5px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
    font-size: 12px;
    border-radius: 10px;
}

#menu_wrap .option {
    text-align: center;
}

#menu_wrap .option button {
    margin-left: 5px;
}

/*
    TODO infoWindow 스타일 지정
*/
.infoWindow {
    background-color: lightcyan;
}

.wrap {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 200px;
    height: 100px;
    margin-left: -100px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}