<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>친구 추가</title>
</head>
<body>
    <header th:replace="fragments/header::afterHeader"></header>
    <div class="container container_width">
        <h3 th:text="#{header.search}"/>
        <hr>
        <form id="form" th:object="${friend}">
            <div class="row mb-3">
                <div class="col-sm-10 form-group" id="inputId">
                    <input type="text" class="form-control form-control-sm" th:field="*{id}" placeholder="회원명"
                           style="margin-right: 10px"/>
                </div>
                <button type="button" class="btn btn-primary col-sm-2 col-form-label col-form-label-sm"
                        id="submitButton"onclick="add()"
                        th:text="#{button.search}"/>
            </div>
        </form>

        <br>
        <h3 th:text="#{header.friendList}"/>
        <hr>
        <table id="friendTable" class="table table-striped">
            <thead>
            <tr>
                <th>번호</th>
                <th>친구 이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="friend : ${friends}">
                <td th:text="${friendStat.index + 1}"></td>
                <td th:text="${friend}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="/js/friend.js"></script>
<script src="/js/idFocus.js"></script>
</html>