<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>로그인</title>
</head>
<body>
    <header th:replace="fragments/header::header"></header>
    <div class="container">
        <form action="/users/login" th:object="${loginForm}" method="post">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" th:field="*{userId}" placeholder="Enter Id">
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Password">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">login</button>
            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=102364fc8aaacc13b119bdf84ae58bcd&redirect_uri=http://localhost:8080/users/kakao_login">
                <img src="/image/kakao_login.png">
            </a>
        </form>
    </div>
</body>
</html>