<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>로그인</title>
</head>
<body>
<header th:replace="fragments/header::header"></header>
<div class="container container_width">
    <div class="center">
        <div id="title">
            <div id="firstLine">
                <span class="yellow">T</span>RAVEL
            </div>
            <div id="secondLine">
                <span class="yellow">T</span>OGETHER
            </div>
        </div>
    </div>

    <form action="/user/login" th:object="${loginForm}" method="post">
        <div class="form-group">
            <label for="id" th:text="#{label.id}"/>
            <input type="text" class="form-control" id="id" th:field="*{userId}" th:errorclass="field-error"
                   placeholder="Enter Id">
            <b><p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" th:errorclass="field-error">
                Incorrect date</p></b>
        </div>
        <br>
        <div class="form-group">
            <label for="password" th:text="#{label.password}"/>
            <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error"
                   placeholder="Password">
            <b><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="field-error">
                Incorrect date</p></b>
        </div>
        <hr>
        <div th:if="${#fields.hasGlobalErrors()}">
            <b><p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"/></b>
        </div>
        <div class="center">
            <button type="submit" class="btn btn-primary" style="width: 183px" th:text="#{button.login}"/>
            <br><br>
            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=102364fc8aaacc13b119bdf84ae58bcd&redirect_uri=http://localhost:8080/users/kakao_login">
                <img src="/image/kakao_login.png">
            </a>
        </div>
    </form>
</div>
</body>
<script src="/js/idFocus.js"></script>
</html>