<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>마이페이지</title>
</head>
<body>
    <header th:replace="fragments/header::afterHeader"></header>
    <div class="container container_width">
        <h3 style="color: rgb(30,144,255); font-weight: 600">개인정보</h3>
        <hr>
        <form action="/map/create" th:object="${userInfo}" method="post">
            <div class="form-group">
                <label for="id">아이디</label>
                <input type="text" class="form-control" id="id" th:field="*{id}" disabled>
            </div>
            <br>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" disabled>
            </div>
            <br>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="text" class="form-control" id="password" th:field="*{password}" disabled>
            </div>
            <br><br>
            <div class="form-group">
                <h3 style="color: rgb(30,144,255); font-weight: 600">지도 리스트</h3>
                <hr>
                <table id="maps" class="table table-striped">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>지도 이름</th>
                        <th>지도 보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="map : *{maps.content}">
                        <td th:text="${mapStat.index + 1}" style="cursor: pointer; font-weight: bold" th:onclick="|location.href='@{/map/list/{mapId} (mapId=${map.mapId})}'|"></td>
                        <td th:text="${map.mapName}" style="cursor: pointer; font-weight: bold" th:onclick="|location.href='@{/map/list/{mapId} (mapId=${map.mapId})}'|"></td>
                        <td>
                            <a href="#" th:onclick="|location.href='@{/location/{mapId}/view (mapId=${map.mapId})}'|"
                               class="btn btn-primary">보기</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <th:block th:each="page, index : ${#numbers.sequence(0,userInfo.maps.totalPages - 1)}">
                            <li class="page-item">
                                <a class="page-link"
                                     th:href="@{'/users/myPage?page=' + ${page}}"
                                     th:text="${index.count}">1</a></li>
                        </th:block>
                    </ul>
                </nav>
            </div>
        </form>
    </div>
</body>
</html>