<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <div class="container">
        <br>
        <nav class="navbar navbar-expand-lg" style="padding: 10px">
            <a class="navbar-brand" href="/">Home</a>
            <div class="justify-content-end collapse navbar-collapse">
                <button
                        type="button"
                        class="indexButton"
                        th:onclick="|location.href='@{/user/signup}'|"
                        th:text="#{button.sign}"/>

                <button
                        type="button"
                        class="indexButton"
                        th:onclick="|location.href='@{/user/login}'|"
                        th:text="#{button.login}"/>
            </div>
        </nav>
        <hr>
        <br>
    </div>
</div>

<div th:fragment="afterHeader">
    <div class="container">
        <br>
        <nav class="navbar navbar-expand-lg" style="padding: 10px">
            <a class="navbar-brand" href="/">Home</a>

            <div class="justify-content-end collapse navbar-collapse">
                <button type="button" class="indexButton"
                        th:onclick="|location.href='@{/user/myPage}'|"
                        th:text="#{button.myPage}"/>
                </button>
                <form action="/user/logout" method="post">
                    <button type="submit" class="indexButton"
                            th:onclick="|location.href='@{/user/logout}'|"
                            th:text="#{button.logout}"/>
                    </button>
                </form>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="background-color: rgb(25, 56, 126)">
                        추가기능
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:onclick="|location.href='@{/friends}'|">친구추가</a>
                        <a class="dropdown-item" th:onclick="|location.href='@{/map}'|">지도추가</a>
                    </div>
                </div>
            </div>
        </nav>
        <hr>
        <br>
    </div>
</div>

<div th:fragment="mapHeader">
    <nav class="navbar navbar-expand-lg" style="padding: 10px">
        <a class="navbar-brand" href="/">Home</a>

        <div class="justify-content-end collapse navbar-collapse">
            <button type="button" class="btn btn-primary" style="margin-right: 10px"
                    th:onclick="|location.href='@{/user/myPage}'|">마이페이지
            </button>
            <form action="/user/logout" method="post">
                <button type="submit" class="btn btn-primary" style="margin-right: 10px"
                        th:onclick="|location.href='@{/user/logout}'|">로그아웃
                </button>
            </form>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        style="background-color: rgb(25, 56, 126)">
                    추가기능
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:onclick="|location.href='@{/friend/list}'|">친구추가</a>
                    <a class="dropdown-item" th:onclick="|location.href='@{/map}'|">지도추가</a>
                </div>
            </div>
        </div>
    </nav>
</div>

</html>
