<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>save location</title>
</head>
<body>
    <header th:replace="fragments/header::afterHeader"></header>
    <div class="container container_width">
        <form th:action="|/location/${mapId}/add|" th:object="${saveLocationForm}" method="post">
            <div class="hidden">
                <label for="latitude"/>
                <input type="text" id="latitude" th:field="*{latitude}">
            </div>
            <div class="hidden">
                <label for="longitude"/>
                <input type="text" id="longitude" th:field="*{longitude}">
            </div>
            <div class="hidden">
                <label for="mapId"/>
                <input type="text" id="mapId" th:field="*{mapId}">
            </div>
            <div class="form-group">
                <label for="name" th:text="#{label.name}"/>
                <input type="text" id="name" class="form-control" th:field="*{name}">
            </div>

            <div class="form-group">
                <label for="memo" th:text="#{label.memo}"/>
                <input type="text" id="memo" class="form-control" th:field="*{memo}">
            </div>

            <div class="form-group">
                <label for="bigSubject" th:text="#{label.bigSubject}"/>
                <select id="bigSubject" class="form-control" th:field="*{bigSubject}">
                    <option value="">==대 주제 선택==</option>
                    <option th:each="big : ${bigSubjects}" th:value="${big}"
                            th:text="${big}">카페</option>
                </select>
            </div>

            <div class="form-group">
                <label for="smallSubject" th:text="#{label.smallSubject}"/>
                <select id="smallSubject" class="form-control" th:field="*{smallSubject}">
                    <option value="">==소 주제 선택==</option>
                    <option th:each="small : ${smallSubjects}" th:value="${small.id}"
                            th:text="${small.subjectName}">카페</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn bth-primary" th:text="#{button.save}"/>
        </form>
    </div>
</body>
</html>