<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>update location</title>
</head>
<body>
    <header th:replace="fragments/header::afterHeader"></header>
    <div class="container container_width">
        <form th:action="|/location/${locationId}/update?mapId=${mapId}|" th:object="${updateLocation}" method="post">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" th:errorclass="field-error">
                <b><p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="field-error">Incorrect date</p></b>
            </div>
            <div class="form-group">
                <label for="memo">메모</label>
                <input type="text" class="form-control" id="memo" th:field="*{memo}" th:errorclass="field-error">
                <b><p th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:errorclass="field-error">Incorrect date</p></b>
            </div>
            <div class="form-group">
                <label for="bigSubject">대주제</label>
                <select class="form-control form-control-sm" id="bigSubject" th:field="*{bigSubject}">
                    <option value="">==대 주제 선택==</option>
                    <option th:each="big : ${bigSubjects}" th:value="${big}"
                            th:text="${big}">카페</option>
                </select>
            </div>
            <div class="form-group">
                <label for="smallSubject">소주제</label>
                <select class="form-control form-control-sm" id="smallSubject" th:field="*{smallSubject}">
                    <option value="">==소 주제 선택==</option>
                    <option th:each="small : ${smallSubjects}" th:value="${small.id}"
                            th:text="${small.subjectName}">카페</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">위치수정</button>
        </form>
    </div>
</body>
</html>