<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="fragments/config::config"/>
    <title>create map</title>
</head>
<body>
    <header th:replace="fragments/header::afterHeader"></header>
    <div class="container container_width">
        <form action="/map/add" th:object="${addMapForm}" method="post">
            <div class="form-group">
                <h3 th:text="#{header.mapPassword}"/>
                <hr>
                <input type="password" class="form-control" id="password" th:field="*{password}"
                       th:errorclass="field-error" placeholder="Enter password">
                <b><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="field-error">Incorrect date</p></b>
                <br><br>
                <h3 th:text="#{header.createdBy}"/>
                <hr>
                <select class="form-control form-control-sm" th:name="id" id="select">
                    <option>선택</option>
                    <option th:each="friend : ${friends}"
                            th:value="${friend.id}" th:text="${friend.name}"></option>
                </select>
            </div>
            <br>
            <br>
            <div class="center">
                <button type="submit" class="btn btn-primary" th:text="#{button.mapAdd}"/>
            </div>
        </form>
    </div>
</body>
</html>