<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>지도</title>
    <th:block th:replace="fragments/config::config"/>
    <link href="/css/kakaomap.css" rel="stylesheet" type="text/css">
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css">
</head>
<body>
<header th:replace="fragments/header::mapHeader"></header>
    <div class="search" style="text-align: center;">
        <div id="menu_wrap">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        <input class="form-control" type="text" value="" id="keyword" size="15" placeholder="장소 위치 검색"><br>
                        <button class="btn btn-primary" type="submit" th:text="#{button.search}"/>
                    </form>
                </div>
            </div>
        </div>

        <br>
        <div id="savedPlaceSearch" class="bg_white">
            <div class="option">
                <div class="smallFirstLine">
                    <span class="yellow">C</span>ategory
                </div>
                <br>
                <div style="text-align: left">
                    <div style="padding: 0 10px 0 10px">
                        <form th:object="${mapInfo}">
                            <input type="text" id="mapId" th:value="${mapId}" hidden>
                            장소<br>
                            <input class="form-control" type="text" value="" id="name" size="15"><br>
                            <label for="bigSubject" th:text="#{label.bigSubject}"/>
                            <select class="form-control form-control-sm" th:name="bigSubject" id="bigSubject" style="height: 38px">
                                <option th:value="${null}">선택</option>
                                <option th:each="bigSubject : *{bigSubjects}"
                                        th:value="${bigSubject}" th:text="${bigSubject.name()}"></option>
                            </select><br>
                            <label for="smallSubject" th:text="#{label.smallSubject}"/>
                            <select class="form-control form-control-sm" th:name="smallSubject" id="smallSubject" style="height: 38px">
                                <option value="">선택</option>
                                <option th:each="smallSubject : *{smallSubjects}"
                                        th:value="${smallSubject.subjectId}" th:text="${smallSubject.subjectName}"></option>
                            </select>
                            <br>
                        </form>

                    </div>
                </div>
                <button type="button"
                        class="btn btn-primary"
                        onclick="searchSavedPlaces(); return false;"
                        th:text="#{button.search}"/>
            </div>
        </div>
    </div>
    <div class="map_wrap">
        <div id="map"></div>
    </div>
</body>

<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=226036c7cbb60353bce92ae3327f96e0&libraries=services"></script>
<script src="/js/kakaomap.js?ver=1"></script>
</html>